_posts/2023-04-18-NumpyTangibles.md
_posts/2023-04-24-test.md
_posts/2023-04-25-Combined-Lesson-Plan.md
_posts/2023-04-25-Data-Analysis-Panda-Numpy.md
_posts/2023-04-25-PandasHacks.md
_posts/2023-05-17-PandasNATM.md
_posts/2023-05-17-TestingCSVFiles.md
_posts/2023-05-18-TestingCSVFiles.md
_posts/2023-05-21-TestingCSVFiles.md