/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


.site-title, .site-title:visited {
    color: #000000;
    font-size: 40px;
    font-family: "Lucida Console", "Copperplate", fantasy;
}
.site-nav .page-link:not(:last-child) {
    margin-right: 0;
    font-family: "Lucida Console", "Copperplate", fantasy;
}
.site-nav .page-link {
    color: #111111;
    font-size: 15px;
    line-height: 1;
    padding: 5px 10px;
    margin-left: 20px;
    font-family: "Lucida Console", "Copperplate", fantasy;
}
.site-header {
    background-color: rgba(23, 64, 139, 1);
    }
    
    main.page-content {
        background-color: rgb(230, 230, 230);
    }

//
	Please use the sharing tools found via the share button at the top or side of articles. Copying articles to share with others is a breach of FT.com T&Cs and Copyright Policy. Email licensing@ft.com to buy additional rights. Subscribers may share up to 10 or 20 articles per month using the gift article service. More information can be found at https://www.ft.com/tour.
	https://www.ft.com/content/e7763cd8-60f1-4149-b9cd-48cedb7e6ca6

	The House of Representatives has passed a bill to raise the US debt ceiling, a victory for Republican Speaker of the House Kevin McCarthy that brings Washington closer to averting a historic default.

The House voted 314-117 late on Wednesday in favour of the bill, after 165 Democrats sided with 149 Republicans and allowed McCarthy to see off a rebellion from some members of his own party.

Although the House vote was seen as the biggest risk to the legislation, it must still pass the Senate before it is signed by President Joe Biden and put into effect ahead of a looming June 5 deadline.

In addition to burnishing McCarthy’s credentials, a law stemming from bipartisan dealmaking would signal Washington is still able function at a time of heightened political polarisation. Ahead of the vote, economists and business leaders had lined up to warn a default would have catastrophic consequences for financial markets and the global economy.

In the end, 71 out of 222 Republicans voted against the measure, many of them members of the hardline House Freedom Caucus.

“Tonight, the House took a critical step forward to prevent a first-ever default and protect our country’s hard-earned and historic economic recovery,” Biden said in a statement after the vote.

“I have been clear that the only path forward is a bipartisan compromise that can earn the support of both parties,” Biden added. “This agreement meets that test. I urge the Senate to pass it as quickly as possible.”

McCarthy told reporters after the vote: “Tonight we all made history, because this is the biggest cut and saving this Congress has ever voted for.” He added: “We put the citizens of America first [and] we didn’t do it by taking the easy way.”

European and US equity futures rose in Asian trading after the deal won approval in the House, with markets pricing in a climb of 0.7 per cent for the Euro Stoxx 50 index and a 0.1 per cent rise for the S&P 500. Japan’s Topix rose almost 1 per cent, while in Hong Kong the Hang Seng was up 0.7 per cent.

McCarthy announced at the weekend that he had struck an agreement with the White House to suspend the debt ceiling until after next year’s presidential election.

The deal caps federal spending for the next two years, speeds up the permitting process for big energy projects, cuts new funding for the Internal Revenue Service and introduces new requirements for food stamps and other social safety net programmes.

Treasury secretary Janet Yellen has warned the government would run out of money and be unable to pay its obligations on June 5 if the debt ceiling is not raised by then.

McCarthy and the White House had been upbeat about the likelihood of the bill passing, even as critics in both parties came out against the measure.

On the right, the hardline Freedom Caucus attacked the deal for not imposing steeper spending cuts.

On the left, progressive Democrats, including Alexandria Ocasio-Cortez and Pramila Jayapal, lambasted Biden for capitulating to Republican demands.

The bill faces opposition from lawmakers on both sides of the aisle when it reaches the Senate. Bernie Sanders, the progressive senator, said he could not “in good conscience” vote for the legislation because it imposes spending cuts without raising taxes on wealthy Americans.

Mitch McConnell, the top Senate Republican, on Wednesday said he would be “proud to support” the deal “without delay” when it is voted on in the upper chamber of Congress.

Chuck Schumer, the Democratic Senate majority leader, said he would bring the measure to the floor “as soon as possible” and urged colleagues to be “prepared to move on this bill quickly once it is the Senate’s turn to act”.

    
